:root {
  --primary-color: red;
  --secondary-color: green;
  --text-color: blue;
}

body {
  background-color: var(--primary-color);
}

h1 {
  color: var(--text-color);
}

p {
  color: var(--text-color);
}
