// NESTING
// .main {
//     background-color: lightblue;

//     .main-heading {
//         font-size: 2em;
//     }

//     .main-paragraph {
//         font-size: 1.4em;
//     }
// }

// MENDAFTARKAN SELECTOR
// .main, 
// footer {
//     h1, 
//     p {
//         letter-spacing: 1px;
//     }
// }

// & (Ampersand)
// Parent Selector
// .main {
//     .container & {
//         background-color: lightblue;
//     }
//     .main-heading {
//         font-size: 2em;
//     }
//     &:hover {
//         background-color: salmon;
//     }
// }

// TEKNIK INTERPOLASI
.main {
    #{&}-heading {
        font-size: 2em;
    }
    #{&}-paragraph {
        font-size: 1.4em;
    }
}
// TEKNIK INTERPOLASI

.main {
    & &-heading {
        font-size: 2em;
    }
    & &-paragraph {
        font-size: 1.4em;
    }
}
.footer {
    & &-heading {
        font-size: 2em;
    }
    & &-paragraph {
        font-size: 1.4em;
    }
}